button.Concluir {
  background-color: hsl(0, 0%, 60%);
  color: rgb(23, 22, 22);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

button.Concluir:hover {
  background-color: #749389;
}

button.Concluido {
  background-color: #7ecdac;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
}

button.Concluido:hover {
  background-color: #58a188;
}

p.Concluido {
  color: #528a64;
  text-decoration: line-through;
  font-style: italic;
}

.tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0e6f6;
  border-radius: 15px;
  height: 3rem;
  width: 90%;
  padding: 0 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.tarefa p {
  margin: 0;
  font-size: 16px;
  color: #333;
}